<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669169410508-rpdbf4q5g5kmucfm5baknbdvsjsmje8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669169410508-rpdbf4q5g5kmucfm5baknbdvsjsmje8k</string>
	<key>API_KEY</key>
	<string>AIzaSyDjI6J6h3lma-rsONoIn4FdyBU9df9-FTs</string>
	<key>GCM_SENDER_ID</key>
	<string>669169410508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intechsol.contourbody</string>
	<key>PROJECT_ID</key>
	<string>contourbody-intechsol</string>
	<key>STORAGE_BUCKET</key>
	<string>contourbody-intechsol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669169410508:ios:0d73e10021173de5153d69</string>
</dict>
</plist>